{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": ["> 2.5%", "last 2 versions", "not ie <= 8","IOS 9"]
      }
    }],
    "es2015",
    "stage-2"
  ],
  "plugins": ["transform-vue-jsx", "transform-runtime"]
}
